<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bailemeng.app">

    <!-- 腾讯云视频 -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <!-- 友盟 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- main -->
        <activity
            android:name=".main.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".main.activity.LoginTwoStageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".main.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".main.activity.ForgotPwdActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <!-- main -->
        <!-- home -->
        <activity
            android:name=".view.home.activity.EventRegistrationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.home.activity.SearchVideoActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.home.activity.EventDetailsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".view.home.activity.EventDetailsItemActivity"
            android:screenOrientation="portrait"></activity>
        <!-- home -->
        <!-- common -->
        <activity
            android:name=".view.home.activity.VideoDetailsActivity"
            android:configChanges="orientation|screenSize"></activity>
        <!-- common -->
        <!-- umeng -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106270066" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59c877578f4a9d321e00003e" >
        </meta-data>
        <!-- umeng -->

        <!-- tencent -->
        <activity
            android:name=".push.LivePublisherActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan|stateHidden"/>

        <activity
            android:name=".play.LivePlayerActivity"
            android:screenOrientation="portrait"/>


        <activity android:name=".linkmic.LinkMicActivity"
            android:screenOrientation="portrait" />

        <!--<activity-->
        <!--android:name="com.tencent.liteav.screencapture.TXCScreenCaptureAssistantActivity"-->
        <!--android:theme="@android:style/Theme.Translucent"/>-->

        <activity android:name=".tencent.videorecord.TCVideoRecordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".tencent.videorecord.TCVideoSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <activity android:name=".tencent.common.activity.videopreview.TCVideoPreviewActivity"
            android:screenOrientation="portrait" />

        <activity android:name="com.tencent.rtmp.video.TXScreenCapture$TXScreenCaptureAssistantActivity" android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".tencent.shortvideo.choose.TCVideoChooseActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".tencent.shortvideo.joiner.TCVideoJoinerActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".tencent.shortvideo.joiner.TCVideoJoinerPreviewActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".tencent.shortvideo.editor.TCVideoEditerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>

        <!--&lt;!&ndash; 配置bugly组件的APP ID，bugly组件为腾讯提供的用于crash上报和分析的开放组件，如果您不需要该组件，可以自行移除 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="BUGLY_APPID"-->
            <!--android:value="928c8ef035"/>-->

        <!--&lt;!&ndash; 配置bugly组件的APP渠道号 &ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="BUGLY_APP_CHANNEL"-->
            <!--android:value="RDM版本"/>-->

        <!--&lt;!&ndash; 配置bugly组件的调试模式（true或者false）&ndash;&gt;-->
        <!--<meta-data-->
            <!--android:name="BUGLY_ENABLE_DEBUG"-->
            <!--android:value="true"/>-->
    </application>

</manifest>